* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
  background-color: #F5EFE6;
}
article.logo {
  margin-left: 90px;
  margin-top: 15px;
}
nav > ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 50px;
  list-style: none;
  margin-top: 15px;
}
nav > ul > a {
  text-decoration: none;
}
nav > ul > a > li {
  color: blue;
}
nav > ul > a > li:hover {
  color: red;
}
.summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #AEBDCA;
  height: 200px;

}
div.summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E8DFCA;
  margin: 20px;
  padding-left: 480px;
  padding-right: 480px;
  height: 120px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  gap: 7px;
}
span.title{
  color: blue;
}
section.summary-one{
  display: flex;
  flex-direction: column;
  background-color:#F5EFE6 ;
  height: 430px;
}
article.Title{
margin: 10px 60px;
}
hr{
  margin: 10px 0;
}
article.Title p{
  margin-bottom: 10px;
  margin-top: 10px;
}
article.Title li{
  margin-left: 90px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #AEBDCA;
  color: blue;
}
